* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    min-height: calc(100vh - 90px) ;
    font-family: 'Roboto', sans-serif;;
}

