// <----- BARCHART ----->
.barChart-container {
  position: relative;
  .activity-legend {
    position: absolute;
    top: calc(50% - 24px / 2 - 124px);
    left: 3.83%;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: #20253a;
  }
  .activity-weight {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 63.7%;
    top: calc(50% - 24px / 2 - 124px);
    color: #74798c;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    div {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #282d30;
      margin-right: 10px;
    }
  }
  .activity-cal {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 77.35%;
    top: calc(50% - 24px / 2 - 124px);
    color: #74798c;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    div {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #e60000;
      margin-right: 10px;
    }
  }
  .infosChart {
    .infosBar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      span {
        font-size: 8px;
        line-height: 24px;
        font-weight: 500;
        color: white;
      }
    }
  }
}

// <----- LINECHART ----->
.session-time {
  position: relative;
  width: 155px;
  p {
    position: absolute;
    font-size: 15px;
    color: white;
    opacity: 0.6;
    top: 29px;
    left: 34px;
  }
  .infos-lineChart {
    span{
      position: absolute;
      display: flex;
      align-items: center;
      font-weight: 600;
      justify-content: center;
      font-size: 8px;
      background-color: white;
      width: 38px;
      height: 25px;
    }
  }
}

// <----- RADARCHART ----->
.radar-chart {
  width: 258px;
  height: 263px;
  background-color: #282d30;
}

// <----- SCORECHART ----->
.score-chart {
  width: 258px;
  height: 263px;
  background-color: grey;
}

// <----- INFOSCHART ----->
.infos-container {
  width: 258px;
  height: 622px;
  background-color: rgb(165, 225, 186);
}
