.dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto 50px;
  max-width: 1130px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.25fr repeat(2, 1fr) 1.75fr;
  grid-column-gap: 30px;
  grid-row-gap: 28px;
  overflow: hidden;
}
.titles {
  grid-area: 1 / 1 / 2 / 3;
}
.barChart-container {
  grid-area: 2 / 1 / 4 / 4;
}
.session-time {
  grid-area: 4 / 1 / 5 / 2;
}
.radar-chart {
  grid-area: 4 / 2 / 5 / 3;
}
.score-chart {
  grid-area: 4 / 3 / 5 / 4;
}
.infos-container {
  grid-area: 2 / 4 / 5 / 5;
}

@media screen and (max-width: 1350px) {
  .dashboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto 50px;
    max-width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.25fr repeat(3, 1fr) 1.75fr;
    grid-column-gap: 22px;
    grid-row-gap: 22px;

    .titles {
      grid-area: 1 / 1 / 2 / 3;
      margin-left: 2.5rem;
    }
    .infos-container {
      grid-area: 2 / 1 / 3 / 4;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }
    .barChart-container {
      grid-area: 3 / 1 / 5 / 4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .session-time {
      grid-area: 5 / 1 / 6 / 2;
      margin-left: 8px;
    }
    .radar-chart {
      grid-area: 5 / 2 / 6 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    .score-chart {
      grid-area: 5 / 3 / 6 / 4;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
}
